.jumbotron { 
  text-align:center;
  margin-bottom: 10px;
}

#computer-screen {
  border: 2px solid green;
  display: flex;
  height:37vw;
}

#computer-screen img {
  width: 40vw;
  margin: auto;
}

#output {
  display: flex;
  border: 2px solid blue;
  font-size: 32px;
  color: blue;
  width: 40vw;
  top: 8vw;
  right: 30vw;
  position:absolute;
  height: 15vw;
}

* {
  box-sizing: border-box;
  
}